<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>

<h1>Artists</h1>
<ul>
<% @artists.each do |artist| %>
	<li><%= link_to "#{artist['title']}", artist_path(artist['id']) %></li>
<% end %>
	<li>
		<div class='row'>
			<div class='col-md-6'>
				<%= form_tag('/artists') do %>
					<%= label_tag(:title, "Artist name:") %><br />
					<%= text_field_tag(:title, '', class: "form-control", id: "artist_title") %><br />
					<%= submit_tag("Add New", class: "btn btn-success") %>
				<% end %>
			</div>
		</div>
	</li>
</ul>