<%= form_tag('/albums') do %>
	<div class='col-md-6'>
		<h1>New Artist</h1>
		<%= label_tag(:title, "Artist name:") %><br />
		<%= text_field_tag(:title, '', class: "form-control", id: "artist_title") %><br />
		<br/>
		<%= submit_tag("Save", class: "btn btn-success") %>
	</div>
<% end %>