<ol class="breadcrumb">
  <li><a href="/">Artists</a></li>
  <li class="active"><%= @artist['title'] %></li>
</ol>

<h1><%= @artist['title'] %></h1>
<h2>Albums <%= link_to "Add New", new_artist_album_path(@artist['id']), {class: 'btn btn-success btn-xs'} %></h2>
<ul>
	<% @artist['albums'].each do |album| %>
	<li><%= link_to "#{album['title']}(#{album['year']})", artist_album_path(@artist['id'], album['id']) %></li>
	<% end %>
</ul>