<h1>Albums</h1>
<ul>
<% @albums.each do |album| %>
	<li><%= link_to "#{album['artist']['title']} - #{album['title']}(#{album['year']})", artist_album_path(album['artist']['id'], album['id']) %></li>
<% end %>
</ul>