<ol class="breadcrumb">
  <li><a href="/">Artists</a></li>
  <li><a href="/"><%= link_to @artist['title'], artist_path(@artist['id'].to_i) %></a></li>
  <li class="active">Create New Album</li>
</ol>

<%= form_tag('/albums') do %>
	<div class='col-md-6'>
		<h1>New Album</h1>
		<%= label_tag(:title, "Album Title:") %><br />
		<%= text_field_tag(:title, '', class: "form-control", id: "album_title") %><br />
		<%= label_tag(:artist_id, "Artist:") %><br />
		<select name="artist_id" id="artist_id" class='form-control'>
			<% logger.debug "paramswsasdfasdf :  " + params.inspect %>
			<% @artists.each do |artist| %>
				<option value="<%= artist['id'] %>" <%= params[:artist_id] == artist['id'].to_s ? 'selected' : '' %> ><%= artist['title'] %></option>
			<% end %>
		</select><br />
		<%= label_tag(:album_year, "Album Year:") %><br />
		<%= text_field_tag(:year, '', class: "form-control", id: "album_year") %><br />

		<br/>
		<%= submit_tag("Save", class: "btn btn-success") %>
	</div>
	<div class='col-md-6'>
		<h2>Fetched album Cover</h2>
		<img src="" id='fetched-cover' width="100" height="100" alt="" />
		<br><br>
		
		<h3>Tracklist</h3>	
		<div id="tracklist">
			
		</div>
	</div>
<% end %>