<ol class="breadcrumb">
  <li><a href="/">Artists</a></li>
  <li><a href="/"><%= link_to @album['artist']['title'], artist_path(@album['artist']['id']) %></a></li>
  <li class="active"><%= @album['title'] %></li>
</ol>

<h1><%= "#{@album['artist']['title']} - #{@album['title']}" %></h1>
<ol>
	<% @album["tracks"].each do |track| %>
		<li><%= track["title"] %></li>
	<% end %>
</ol>